<div class="row">
  <h1 class="title">Customers</h1>
  <div class="col s12">
    <app-sales-numbers-chart *ngIf="salesNumbers.length > 0" [salesYtd]="salesYtd" [salesNumbers]="salesNumbers" [period]="'previous 12 months'" class="component col s12 z-depth-3"></app-sales-numbers-chart>
  </div>
  <div class="col s12">
    <app-customer-list
      [customersObservable]="customersObservable"
      title="Top Customers"
      (emitCustomer)="receiveCustomer($event)"
      (emitPage)="receivePage($event)"
      [sortBy]="sortBy"
      (emitSort)="receiveSortBy($event)"
      class="component col s12 z-depth-3"
    ></app-customer-list>
  </div>
</div>
