<div class="sideNav">
  <h5 class="logo"><a routerLink="/" ><i class="material-icons">trending_up</i>Aga</a></h5>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}"><i class="material-icons">home</i>Home</a></li>
    <li><a routerLink="products" routerLinkActive="active"><i class="material-icons">weekend</i>Products</a></li>
    <li><a routerLink="customers" routerLinkActive="active"><i class="material-icons">person</i>Customers</a></li>
    <li><a routerLink="best-sellers" routerLinkActive="active"><i class="material-icons">attach_money</i>Best Sellers</a></li>
  </ul>
</div>
