<div class="product">
  <h1 class="product-name">{{(product)?.number}}</h1>
  <div class="row">
    <div class="col l7 m12 s12">
      <app-sales-numbers-chart
        *ngIf="salesNumbers.length > 0"
        [salesYtd]="(product)?.salesYtd"
        [salesNumbers]="salesNumbers"
        class="component col s12 z-depth-3"
      ></app-sales-numbers-chart>
    </div>
    <div class="col l5 m12 s12">
        <app-growth
          [growth]="(product)?.growth"
          class="component col s12 z-depth-3"
          ></app-growth>
        <app-customer-list *ngIf="customers"
          [customersObservable]="customers"
          title="Top Customers"
          (emitPage)="receivePage($event)"
          class="component col s12 z-depth-3"
        ></app-customer-list>
    </div>
  </div>
</div>
