<div>
  <h5 class="center-align">Recommendations</h5>
  <table class="responsive-table">
    <thead>
      <tr>
        <th>Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recommendation of recommendations">
        <td><a routerLink="/products/{{recommendation.id}}">{{recommendation.number}}</a></td>
      </tr>
    </tbody>
  </table>
  <app-pagination
    *ngIf="pages"
    [pages]="pages"
    [pageNumber]="pageNumber"
    (emitPage)="receivePage($event, 'bestSellers')"
  ></app-pagination>
</div>
